<html>
    <head>
        <title>Icecream Parlour</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h4 class="c1">Delete Icecream flavour</h4>
        <div class="container">
        
        <form action="/delete" method="POST">
            <label>Icecream Id:</label>
            <input type="text" placeholder="Enter id" name="id"><br><br>
            <button id="delete">Delete</button>
        </form>
        <a href="/" class="c3" >Home Page</a>
    </div>
    </body>
</html>